<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= vite_stylesheet_tag 'application.scss', host: "http://localhost:1111" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
